.favMovie__container {
  padding: 20px;
  padding-top: 100px;
  .favMovie__title {
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .clearAllButton {
      font-size: 18px;
      padding: 16px 20px;
      background-image: var(--gradient);
      border-radius: 50px;
      cursor: pointer;
    }
  }
  .favMovie__Movies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }

  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
}
