@import "../../mixins.scss";
.favMovie__container {
  padding: 20px;
  padding-top: 100px;
  min-height: 69vh;
  .favMovie__title {
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .favMovie__Movies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }

  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
}
